[Unit]
Description=Set Platform Reset Deassert

[Service]
Type=oneshot

ExecStart=/usr/bin/busctl set-property "org.openbmc.control.Power" "/org/openbmc/control/power0" "org.openbmc.control.Power" "platformreset" b false

ExecStart=/usr/sbin/addRestartCauseSel.sh

ExecStopPost=/usr/bin/busctl set-property xyz.openbmc_project.GpioMonitor /xyz/openbmc_project/gpio/event xyz.openbmc_project.GpioEvent PlatformReset s "Idle"
