[Unit]
Description=Set Power Good Property On

[Service]
Type=oneshot

ExecStart=/usr/sbin/powergood.sh on

ExecStopPost=/usr/bin/busctl set-property xyz.openbmc_project.GpioMonitor /xyz/openbmc_project/gpio/event xyz.openbmc_project.GpioEvent PowerGood s "Idle"
